<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать студента</title>
</head>
<body>
    <center>
        <h1>Регистрация студента</h1>
        <form method="POST" action=".">
            {% csrf_token %}
            <label for="name">Имя:</label>
            <input type="text" name="name" placeholder="input name" >
            <br><br>

            <label for="age">Возраст:</label>
            <input type="number" name="age" placeholder="input age" >
            <br><br>

            <label for="email">Электронная почта:</label>
            <input type="email" name="email" placeholder="input email" >
            <br><br>

            <button type="submit">Создать</button>
        </form>
    </center>
</body>
</html>
